<div class="row">
    <div class="col s4 l4 m4">
        <div class="thumbnail">
            <img src="/images/java.svg" class="responsive-img no-flex">
            <h5>Java</h5>
        </div>
    </div>

    <div class="col s4 l4 m4">
        <div class="thumbnail">
            <img src="/images/apache_maven.png" class="responsive-img no-flex">
            <h5>Maven</h5>
        </div>
    </div>

    <div class="col s4 l4 m4">
        <div class="thumbnail">
            <img src="/images/extjs.png" class="responsive-img no-flex">
            <h5>ExtJs</h5>
        </div>
    </div>
</div>

<div class="thumbnail">
    <img src="/images/java.svg" class="responsive-img no-flex">
    <h5>Java</h5>
</div>

<div class="thumbnail">
    <img src="/images/apache_maven.png" class="responsive-img no-flex">
    <h5>Maven</h5>
</div>

<div class="thumbnail">
    <img src="/images/extjs.png" class="responsive-img no-flex">
    <h5>ExtJs</h5>
</div>

<div class="thumbnail">
    <img src="/images/css3.png" class="responsive-img no-flex">
    <h5>CSS</h5>
</div>

<div class="thumbnail">
    <img src="/images/gradle.png" class="responsive-img no-flex">
    <h5>Gradle</h5>
</div>

<div class="thumbnail">
    <img src="/images/emberjs.png" class="responsive-img no-flex">
    <h5>EmberJs</h5>
</div>

<div class="thumbnail">
    <img src="/images/spring.png" class="responsive-img no-flex">
    <h5>Spring</h5>
</div>

<div class="thumbnail">
    <img src="/images/intellij.png" class="responsive-img no-flex">
    <h5>IntelliJ</h5>
</div>

<div class="thumbnail">
    <img src="/images/javascript.png" class="responsive-img no-flex">
    <h5>javascript</h5>
</div>
<div class="thumbnail">
    <img src="/images/gwt.png" class="responsive-img no-flex">
    <h5>GWT</h5>
</div>
<div class="thumbnail">
    <img src="/images/json.png" class="responsive-img no-flex">
    <h5>JSON</h5>
</div>
<div class="thumbnail">
    <img src="/images/hibernate.svg" class="responsive-img no-flex">
    <h5>Hibernate</h5>
</div>
<div class="thumbnail">
    <img src="/images/windows.png" class="responsive-img no-flex">
    <h5>Windows</h5>
</div>
<div class="thumbnail">
    <img src="/images/linux.png" class="responsive-img no-flex">
    <h5>Linux</h5>
</div>
