<div class="row">
    <div class="col l5 s12 m12">
        <div class="card blue-grey darken-1 hoverable">
            <div class="card-content white-text">
                <div class="card-title"><h4>About Me</h4></div>
              {{#each model as |profile|}}
                {{#each profile.summary as |summary|}}
                    <blockquote>{{summary}}</blockquote>
                {{/each}}
              {{/each}}
            </div>
        </div>
        <div class="card teal darken-1">
            <div class="card-content white-text">
                <div class="card-title"><h4>Experience</h4></div>
                <div class="card-content white grey-text">
                    <div class="card-title"><h5 class="grey-text">Programming</h5></div>

                    <div class="thumbnail-wrap">
                        <div class="thumbnail center">
                            <img src="/images/java.svg" class="responsive-img no-flex">
                            <h5>Java</h5>
                        </div>

                        <div class="thumbnail">
                            <img src="/images/javascript.png" class="responsive-img no-flex">
                            <h5>javascript</h5>
                        </div>

                        <div class="thumbnail">
                            <img src="/images/extjs.png" class="responsive-img no-flex">
                            <h5>ExtJs</h5>
                        </div>

                        <div class="thumbnail">
                            <img src="/images/emberjs.png" class="responsive-img no-flex">
                            <h5>EmberJs</h5>
                        </div>

                        <div class="thumbnail">
                            <img src="/images/gwt.png" class="responsive-img no-flex">
                            <h5>GWT</h5>
                        </div>

                        <div class="thumbnail">
                            <img src="/images/json.png" class="responsive-img no-flex">
                            <h5>JSON</h5>
                        </div>

                        <div class="thumbnail">
                            <img src="/images/css3.png" class="responsive-img no-flex">
                            <h5>CSS</h5>
                        </div>

                    </div>
                </div>

                <div class="card-content white grey-text">
                    <div class="card-title"><h5 class="grey-text">Frameworks</h5></div>

                    <div class="thumbnail-wrap">
                        <div class="thumbnail">
                            <img src="/images/spring.png" class="responsive-img no-flex">
                            <h5>Spring</h5>
                        </div>

                        <div class="thumbnail">
                            <img src="/images/apache_maven.png" class="responsive-img no-flex">
                            <h5>Maven</h5>
                        </div>

                        <div class="thumbnail">
                            <img src="/images/gradle.png" class="responsive-img no-flex">
                            <h5>Gradle</h5>
                        </div>

                        <div class="thumbnail">
                            <img src="/images/hibernate.svg" class="responsive-img no-flex">
                            <h5>Hibernate</h5>
                        </div>

                        <div class="thumbnail">
                            <img src="/images/intellij.png" class="responsive-img no-flex">
                            <h5>IntelliJ</h5>
                        </div>
                    </div>
                </div>

                <div class="card-content white grey-text">
                    <div class="card-title"><h5 class="grey-text">Platform</h5></div>

                    <div class="thumbnail-wrap">
                        <div class="thumbnail">
                            <img src="/images/linux.png" class="responsive-img no-flex">
                            <h5>Linux</h5>
                        </div>

                        <div class="thumbnail">
                            <img src="/images/windows.png" class="responsive-img no-flex">
                            <h5>Windows</h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col l7 s12 m12 card blue-grey darken-2">
        <div class="card-content white-text">
            <div class="card-title"><h4>Timeline</h4></div>
            <div class="timeline-column">
                <div class="timeline_holder">
                    <ul class="cbp_tmtimeline">
                      {{#each model as |profile|}}
                        {{#each profile.events as |event|}}
                            <li>
                                <time class="cbp_tmtime">
                                    <span>{{event.year}}</span>
                                </time>
                                <div class="cbp_tmicon"><i class="fa fa-trophy"></i></div>
                                <div class="cbp_tmlabel">
                                    <h5>{{event.title}}</h5>
                                    <ul>
                                      {{#each event.info as |info|}}
                                          <li style="list-style: square;">{{info}}</li>
                                      {{/each}}
                                    </ul>
                                </div>
                            </li>
                        {{/each}}
                      {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>